{% extends 'base_boards.html' %}

{% block title %}Добавить новую ветку{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'board' %}">Обсуждение</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
  <li class="breadcrumb-item active">Новое обсуждение</li>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Post</button>
  </form>
{% endblock %}